<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Employee</h4>
    <button type="button" class="btn-close" aria-label="Close"
        (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="submit()" id="form">
        <div class="row form-floating mb-3">
            <div class="col-3">
                <label for="first">First Name</label>
            </div>
            <div class="col-9">
                <input id="first" [class.is-invalid]="form.controls['first'].invalid"
                formControlName="first" type="text" class="form-control" required>
                <div *ngIf="form.controls['first'].touched && form.controls['first'].invalid"
                     class="text-danger text-sm-start">
                     <small *ngIf="form.controls['first'].errors && form.controls['first'].errors['required']">First Name is
                      required.</small>
                </div>
            </div>
            
        </div>
        <div class="row form-floating mb-3">
            <div class="col-3">
                <label for="first">Last Name</label>
            </div>
            <div class="col-9">
                <input id="last" [class.is-invalid]="form.controls['last'].invalid"
                formControlName="last" type="text" class="form-control" required>
            
            <div *ngIf="form.controls['last'].touched && form.controls['last'].invalid"
                class="text-danger text-sm-start">
                <small *ngIf="form.controls['last'].errors && form.controls['last'].errors['required']">Last Name is
                    required.</small>
            </div>
            </div>
            
        </div>
        <div class="row form-floating mb-3">
            <div class="col-3">
                <label for="email">Email</label>
            </div>
            <div class="col-9">
                <input id="email" [class.is-invalid]="form.controls['email'].invalid"
                formControlName="email" type="text" class="form-control" required>
            
            <div *ngIf="form.controls['email'].touched && form.controls['email'].invalid"
                class="text-danger text-sm-start">
                <small *ngIf="form.controls['email'].errors && form.controls['email'].errors['required']">Email is
                    required.</small>
            </div>
            </div>
            
        </div>

        <div class="row form-floating mb-3">
            <div class="col-3">
                <label for="name">Address</label>
            </div>
            <div class="col-9">
                <input id="name" [class.is-invalid]="form.controls['name'].invalid"
                formControlName="name" type="text" class="form-control" required>
            
            <div *ngIf="form.controls['name'].touched && form.controls['name'].invalid"
                class="text-danger text-sm-start">
                <small *ngIf="form.controls['name'].errors && form.controls['name'].errors['required']">Address is
                    required.</small>
            </div>
            </div>
            
        </div>
        <div class="row form-floating mb-3">
            <div class="col-3">
                <label for="age">Phone</label>
            </div>
            <div class="col-9">
                <input id="age" [class.is-invalid]="age.invalid" formControlName="age" type="number"
                class="form-control" required>
            
            <div *ngIf="age.touched && age.invalid" class="text-danger text-sm-start">
                <small *ngIf="age.errors && age.errors['required']">Phone is required.</small>
            </div>
            </div>
            
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" form="form" class="btn btn-primary">Save Changes</button>
</div>